@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import "aos/dist/aos.css";


@import "tailwindcss";
@plugin "daisyui" {
    themes: dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional smooth scrolling */
html {
    scroll-behavior: smooth;
}
@keyframes scroll-vertical {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-50%); }
}

.animate-scroll-vertical {
    animation: scroll-vertical 20s linear infinite;
}

